<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.mapper.AnwserMapper">

    <select id="findAnwserListByCondition" resultType="anwser" >
        select * from project.anwser
        <where>
            <if test="ansno != null">and ansno = #{ansno} </if>
            <if test="reftestno != null">and reftestno = #{reftestno} </if>
            <if test="refqbankno != null">and refqbankno = #{refqbankno} </if>
        </where>
            order by ansno
    </select>

    <insert id="insertAnwserList" parameterType="List">
        INSERT INTO project.anwser(reftestno,refqbankno,opoder)
        values
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item.reftestno}, #{item.refqbankno}, #{item.opoder}
        </foreach>
    </insert>

    <update id="updateAnwserList" parameterType="List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update project.anwser
            set
                studentans = ${item.studentans}
            where id = ${item.ansno}
        </foreach>
    </update>
</mapper>