<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.mapper.CourseMapper">
    <select id="getCourseByCondition" resultType="course" parameterType="hashmap">
        select * from project.course
        <where>
            <if test="refcstypeno != null">and refcstypeno = #{refcstypeno} </if>
            <if test="reftchrno != null">and reftchrno = #{reftchrno} </if>
            <if test="coursename != null">and coursename LIKE CONCAT('%',#{coursename},'%') </if>
            <if test="courseinfo != null">and courseinfo = #{courseinfo} </if>
            <if test="courseprice != null">and courseprice = #{courseprice} </if>
            <if test="ttltime != null">and ttltime = #{ttltime} </if>
            <if test="csstatus != null">and csstatus = #{csstatus} </if>
            <if test="courseprice != null">and courseprice = #{courseprice} </if>
            <if test="csscore != null">and csscore = #{csscore} </if>
            <if test="searchText != null">and coursename LIKE CONCAT('%',#{searchText},'%') </if>
        </where>
        <choose>
             <when test="term == 'courseprice' ">order by courseprice  desc</when>
             <when test="term == 'ttltime' ">order by ttltime desc </when>
             <when test="term == 'csscore' ">order by csscore desc </when>
             <otherwise>order by courlmod  desc</otherwise>
        </choose>
    </select>

    <select id="findCourseByPrimaryKey" resultType="course">
        select * from project.course where courseno = #{courseno}
    </select>

    <select id="getBestCourse" resultType="course">
        select * from project.course where CSSTATUS = '上架'  order by ROUND((CSSCORE/CSSCORETIMES),2) desc limit 0,8
    </select>

    <insert id="insertCourse" parameterType="course">
        insert into project.course
            <trim prefix="(" suffix=")" suffixOverrides="," >
                refcstypeno,reftchrno,coursename,courseprice,
                <if test="courseinfo !=null || courseinfo != '' ">
                    courseinfo
                </if>
                <if test="courseimg !=null || courseimg != '' ">
                    courseimg
                </if>
            </trim>
        values
            <trim prefix="(" suffix=")" suffixOverrides="," >
                #{refcstypeno},#{reftchrno},#{coursename},#{courseprice},
                <if test="courseinfo !=null || courseinfo != '' ">
                    #{courseinfo}
                </if>
                <if test="courseimg !=null || courseimg != '' ">
                    #{courseimg}
                </if>
            </trim>
    </insert>

    <update id="updateCourse" parameterType="course">
        update project.course
        <set>
            <if test="refcstypeno != null">refcstypeno = #{refcstypeno},</if>
            <if test="reftchrno != null">reftchrno = #{reftchrno},</if>
            <if test="coursename != null">coursename = #{coursename},</if>
            <if test="courseinfo != null">courseinfo = #{courseinfo},</if>
            <if test="courseprice != null">courseprice = #{courseprice},</if>
            <if test="ttltime != null">ttltime = #{ttltime},</if>
            <if test="csstatus != null">csstatus = #{csstatus},</if>
            <if test="courseprice != null">courseprice = #{courseprice},</if>
            <if test="csscore != null">csscore = #{csscore},</if>
            <if test="csscoretimes != null">csscoretimes = #{csscoretimes},</if>
            <if test="courseimg != null">courseimg = #{courseimg},</if>
        </set>
        where courseno = #{courseno}
    </update>
</mapper>