<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.mapper.MailForLostPwdMapper">
    <select id="findLostPwdByMemail" resultType="MailForLostPwd">
        select * from MAILFORLOSTPWD where memail = #{memail}
    </select>
    <delete id="deleteLostPwdByMemail" >
        delete from MAILFORLOSTPWD where memail = #{memail}
    </delete>
    <insert id="saveLostPwdByMemail" parameterType="MailForLostPwd">
        insert into MAILFORLOSTPWD(MEMAIL,SID,EXPTIME) values (#{memail},#{sid},#{expTime})
    </insert>
</mapper>