<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.mapper.QuestionBankMapper">
    <select id="findQuestionByConditon" resultType="questionBank" parameterType="hashmap">
        select * from project.questionBank
        <where>
            <if test="qbankno != null">and qbankno = #{qbankno} </if>
            <if test="refcourseno != null">and refcourseno = #{refcourseno} </if>
            <if test="reftesttypeno != null">and reftesttypeno = #{reftesttypeno} </if>
            <if test="refmemno != null">and refmemno = #{refmemno} </if>
            <if test="testscope != null">and testscope = #{testscope} </if>
            <if test="qustmt != null">and qustmt LIKE CONCAT('%',#{qustmt},'%') </if>
            <if test="qustatus != null">and qustatus = #{qustatus} </if>
        </where>
            order by qbankno desc
    </select>

    <insert id="insertQuestion" parameterType="questionBank">
        insert into project.questionBank
        refcourseno,reftesttypeno,refmemno,testscope,qustmt
        values
        (#{refcourseno},#{reftesttypeno},#{refmemno},#{testscope},#{qustmt})
    </insert>

    <update id="updateQuestion" parameterType="questionBank">
        update project.questionBank
        <set>
            <if test="refcourseno != null">refcourseno = #{refcourseno},</if>
            <if test="reftesttypeno != null">reftesttypeno = #{reftesttypeno},</if>
            <if test="refmemno != null">refmemno = #{refmemno},</if>
            <if test="testscope != null">testscope = #{testscope},</if>
            <if test="qustmt != null">qustmt = #{qustmt},</if>
            <if test="qustatus != null">qustatus = #{qustatus}</if>
        </set>
        where qbankno = #{qbankno}
    </update>

</mapper>