<!DOCTYPE html >
        <html lang="en" xmlns:th="http://www.thymeleaf.org">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Xducation - 陪你成長的學習好夥伴</title>
            <script th:src="@{/front-end/index/assets/js/jquery-min.js}"></script>
            <script th:src="@{/front-end/index/assets/js/bootstrap.min.js}"></script>    <!-- Bootstrap CSS -->
            <link rel="stylesheet" th:href="@{/front-end/index/assets/css/bootstrap.min.css}">
            <!-- Icon -->
            <link rel="stylesheet" th:href="@{/front-end/index/assets/fonts/line-icons.css}">
            <!-- Owl carousel -->
            <link rel="stylesheet" th:href="@{/front-end/index/assets/css/owl.carousel.min.css}">
            <link rel="stylesheet" th:href="@{/front-end/index/assets/css/owl.theme.css}">
            <link rel="stylesheet" th:href="@{/front-end/index/assets/css/magnific-popup.css}">
            <link rel="stylesheet" th:href="@{/front-end/index/assets/css/nivo-lightbox.css}">
            <!-- Animate -->
            <link rel="stylesheet" th:href="@{/front-end/index/assets/css/animate.css}">
            <!-- Main Style -->
            <link rel="stylesheet" th:href="@{/front-end/index/assets/css/main.css}">
            <!-- Responsive Style -->
            <link rel="stylesheet" th:href="@{/front-end/index/assets/css/responsive.css}">

            <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery.rateit/1.1.3/rateit.css}" />
            <!-- Font Awesome CSS -->
            <link rel="stylesheet" th:href="@{/front-end/library/font-awesome/5.15.1/css/all.min.css}">

            <style>
                .rateit .rateit-preset {
                    color: #FFCC36;
                    background:
                            url(https://cdnjs.cloudflare.com/ajax/libs/jquery.rateit/1.1.3/star.gif)
                            left -32px !important;
                }
                label{
                    height:0;
                }
            </style>
            <script>




                $(document).ready(function(){
                    if($('#searchTextFromIndex').val()){
                        $('#searchText').val($('#searchTextFromIndex').val());
                    }
                    if($('#refCstypenoFromMainPage').val()){
                        $('#refcstypeno').val($('#refCstypenoFromMainPage').val());
                        serachCourse();
                    }
                    $("div.rateit, span.rateit").rateit();

                    $('#searchText').keydown(function(){
                        if(event.keyCode == 13){
                            searchCourse();
                        }
                    });


                    $('#turnin').click(function(){
                        searchCourse();
                    });

                });

                function serachCourse(){
                    var request = $.ajax({
                        method:'post',
                        url:'/course/searchCourse',
                        data: $('#searchForm').serialize()
                    });

                    request.done(function(data){
                        var JSONarray = JSON.parse(data);
                        $(".seacharea").empty();
                        var str = "";
                        for(let i = 0 ; i < JSONarray.length ; i++){
                            str +=  `<div class="col-md-6 col-lg-3 col-xs-12">`;
                            str +=  `<div class="services-item wow fadeInRight" data-wow-delay="0.3s">`;
                            str +=  `<div class="icon">`;
                            str +=  `<a href="/course/toCourseMainPage?courseno=`+ JSONarray[i].courseno +`" style="color: rgba(0, 0, 0, 0.65);">`;
                            str +=  `<img src=  "` + JSONarray[i].courseimg + `"style="max-width:100%;height:150px"></div>`;

                            str +=  `<div class="services-content">`;
                            str +=  `&nbsp;&nbsp;<div class="rateit" data-rateit-value="` + JSONarray[i].csscore / JSONarray[i].csscoretimes + `" data-rateit-ispreset="true" data-rateit-readonly="true"></div><br>`;


                            str +=  `&nbsp;&nbsp;&nbsp;` + JSONarray[i].csscoretimes + `則評價`;
                            str +=  `<h3 style="font-size:16px;">` + JSONarray[i].coursename + `</h3></a>`;

                            str +=  `<p>課程總長 `+ Math.floor(JSONarray[i].ttltime/60) +` 分鐘</p>`;

                            str +=	`<h5>NT$` + JSONarray[i].courseprice + `</h5></div></div></div>`;
                        }

                        $(".seacharea").append(str);
                        $("div.rateit, span.rateit").rateit();

                        $('.services-item .services-content h3 a').css('font-size','22px');
                        $('.services-item .services-content h3 a').css('color','#333');

                        $('.services-item .services-content h3 a:hover').css('color','#0099CC');
                    });
                }
            </script>
        </head>

        <body>


        <div th:insert="~{front-end/index/index::nav-header}"></div>

        <div id="hero-area" style="background-image: none">
            <div class="container">
                <div class="container">
                    <form id = "searchForm" th:object="${CourseGrid}">
                    <div class="row">
                        <div class="col-2">

                            <label>課程名稱</label>

                            <div>
                                <input class="form-control" type="text" name="searchText" placeholder="&nbsp;&nbsp;今天想學什麼呢？" id="searchText" >
                                <input type="hidden" th:if="${searchText}" th:value="${searchText}" id="searchTextFromIndex">
                            </div>

                        </div>
                        <div class="col-2">
                            <label>類別名稱</label>
                            <div>
                                <input type="hidden" th:if="${refCstypeno}" th:value="${refCstypeno}" id="refCstypenoFromMainPage">
                                <select class="form-control" id="refcstypeno" name="refcstypeno">
                                        <option value="">請選擇類別</option>
                                        <option th:each="courseType : ${allCourseType}" th:value="${courseType.getCstypeno()}">[[${courseType.getCstypename()}]]</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2">
                            <label>排序</label>
                            <select class="form-control" id="order" name="order">
                            <option value="courlmod" selected>最新</option>
                            <option value="csscore">評價高</option>
                            <option value="ttltime">課時高</option>
                            <option value="courseprice">價格高</option>
                        </select>
                        </div>
                        <div class="col-2">
                            <label></label>
                            <button type="button" class="btn btn-primary" onclick="serachCourse();"
                                    style="display: block">送出查詢</button>
                        </div>
                    </div>
                    </form>
                </div>


                <section id="services" class="section-padding">
                    <div class="container">

                        <!-- Services item1 -->

                        <div class="row seacharea">
                            <div class="col-md-6 col-lg-3 col-xs-12" th:each="course : ${SearchedCourse}">
                                <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
                                    <a th:href="@{/course/toCourseMainPage(courseno=${course.getCourseno()}) }" style="color: rgba(0, 0, 0, 0.65);">
                                    <div class="icon">
                                        <img th:src="${course.getCourseimg()}">
                                    </div>
                                    <div class="services-content">
                                        &nbsp;&nbsp;&nbsp;<div class="rateit" th:value="${course.getCsscore() / course.getCsscoretimes() }" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                        &nbsp;[[${course.getCsscoretimes()}]]則評價
                                        <h3 style="font-size:16px;">[[${course.getCoursename}]]</h3>
                                        <p >課程共[[${course.getTtltime() /60}]]分鐘</p>
                                        <p >同學累計人</p>
                                        <h5>NT$[[${course.getCourseprice()}]]</h5>
                                    </div>
                                    </a>
                                </div>
                            </div>
                    </div>
            </div>
            </section>
        </div>
        </div>





        <div th:insert="~{front-end/index/index::footer}"></div>
        <!-- End Preloader -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script th:src="@{/front-end/index/assets/js/jquery-min.js}"></script>
        <script th:src="@{/front-end/index/assets/js/popper.min.js}"></script>
        <script th:src="@{/front-end/index/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/front-end/index/assets/js/owl.carousel.min.js}"></script>
        <script th:src="@{/front-end/index/assets/js/wow.js}"></script>
        <script th:src="@{/front-end/index/assets/js/jquery.nav.js}"></script>
        <script th:src="@{/front-end/index/assets/js/scrolling-nav.js}"></script>
        <script th:src="@{/front-end/index/assets/js/jquery.easing.min.js}"></script>
        <script th:src="@{/front-end/index/assets/js/jquery.counterup.min.js}"></script>
        <script th:src="@{/front-end/index/assets/js/waypoints.min.js}"></script>
        <script th:src="@{/front-end/index/assets/js/main.js}"></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery.rateit/1.1.3/jquery.rateit.min.js}"></script>
        </body>
        </html>